* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #245fd4, #4e085f);
    padding: 10px;
}
.todo-app {
    width: 100%;
    max-width: 540px;
    background: #f59a9a;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    animation: fadeIn 1s ease-in-out;
}
.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d7dadf;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    transition: all 0.3s ease-in-out;
}
.row input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
}
.row button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #3807e8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: all 0.3s ease;
}
.row button:hover {
    background: #e14b39;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(255, 89, 69, 0.5);
}

/* ToDo List Items */
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    opacity: 0;
    transform: translateX(-20px);
    animation: slideIn 0.5s forwards;
}
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    transition: all 0.3s ease-in-out;
}
ul li.checked {
    color: #555;
    text-decoration: line-through;
    transition: all 0.3s ease-in-out;
}
ul li.checked::before {
    background-image: url(images/checked.png);
    transform: scale(1.2) rotate(360deg);
}
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
ul li:hover span {
    opacity: 1;
    background: #edeef0;
    transform: rotate(90deg);
}

/* Keyframes */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
